//swap files
*.sw?

//out files
*.out
*.dat
*.h5

//object files
*.o

//figures
figs/*

//executables
emag
a.out

//build directory
build/

//tags
tags

//docs
docs/html
docs/latex

//output directories
post/output

//other directories
bench/
temp/

*.gch
*.json
*.txt